<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="">
	<ui:define name="header">
	    Add your header here or delete to use the default
	    <br/>
	</ui:define>
	<ui:define name="content">
	    Add your content here or delete to use the default
	    <br/>
	    <h:outputText>Hello World 111 !</h:outputText>
	    <br/>
	</ui:define>
	<ui:define name="footer">
	    Add your footer here or delete to use the default
	</ui:define>
</ui:composition>
</html>